<configuration>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>		
      </encoder>      
   </appender>

   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file>../logs/logback.txt</file>
      <append>true</append>
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

	<appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
	
	    <destination>192.168.99.100:5000</destination>
		<keepAliveDuration>5 minutes</keepAliveDuration>

	    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
	    </encoder>

	</appender>

	<root level="debug">		
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="stash" />
	 </root>

	<logger name="com.graphaware" level="DEBUG">
	        <appender-ref ref="STDOUT" />
	        <appender-ref ref="FILE" />
	        <appender-ref ref="stash" />
	</logger>
	
	<logger name="org.neo4j" level="DEBUG">
	        <appender-ref ref="STDOUT" />
	        <appender-ref ref="FILE" />
	        <appender-ref ref="stash" />
	</logger>

</configuration>